registry=https://defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/registry/
 
always-auth=true
 
; begin auth token
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/registry/:username=isaac.babalola_defra
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/registry/:_password=${NPM_TOKEN} #DO NOT CREATE A COMMIT / PR with your PAT!!!
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/registry/:email=isaac.babalola_defra@outlook.com
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/:username=isaac.babalola_defra
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/:_password=${NPM_TOKEN}
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo_cc_pdf_svc_npm/npm/:email=isaac.babalola_defra@outlook.com
; end auth token