name: $(BuildID).$(Date:yyyyMMdd).$(SourceBranchName)

trigger:
  branches:
    include:
      # in order as per GitFlow Branching strategy
      - "main"
      - "hotfix/*"
      - "release/*"
      - "develop"
      - "feature/*"
      - "epic/*"

resources:
  repositories:
    - repository: MMOPipelineCommon
      name: "DEFRA/eutd-mmo-fes-pipeline-common"
      endpoint: DEFRA
      type: github
      ref: refs/heads/main

stages:
  - template: /includes/npm-package-build-publish.yaml@MMOPipelineCommon
    parameters:
      packageNpmBuild: false
